@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(
        circle at 50% 90% ,
        rgb(255, 172, 172),
        rgba(70, 255, 166, 0.735)
    );
    background-attachment: fixed;
    display: grid;
    place-content: center;
}
.frame {
    width: 360px;
    height: 360px;
    background: linear-gradient(45deg, #4448a4, #47acb7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: inset 1px 1px 21px rgba(0, 0, 0, 0.2),
    0 1px 15px rgba(0, 0, 0, 0.7);
    font-family: "Courier New", "Courier", sans-serif;
    font-family: 'Courier Prime', monospace;
}
.numbers {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 100px;
    position: relative;
    animation: numAn 2s ease-in;
}
.one {
    position: relative;
    background: #fff;
    width: 18px;
    height: 37px;
    transform: rotate(49deg);
    z-index: 2;
}
.one::after {
    content: "";
    background: #fff;
    width: 21px;
    height: 90px;
    position: absolute;
    margin-top: -22px;
    margin-left: 30px;
    transform: rotate(-49deg);
    box-shadow: 0 0 15px rgba(94, 94, 94, 0.5);
}
.first-zero,
.second-zero {
    background: none;
    width: 90px;
    height: 90px;
    border: 22px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 13px;
    top: 5px;
    z-index: 1;
    box-shadow: 0 0 15px rgba(94, 94, 94, 0.5);
}
.second-zero {
    z-index: 0;
    left: -2px;
}
.day,
.challenge {
    font-size: 4.4rem;
    line-height: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}
.day {
    animation: textAn 2s steps(4) both;
}
.challenge {
    font-size: 1.3rem;
    letter-spacing: 1px;
    animation: textAn 2s 2s steps(13) both;
}

@keyframes numAn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes textAn {
    0% {
        width: 0;
    }
    100% {
        width: 177px;
    }
}